body{
    background-color: #27213C;
    Margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: rgba(39,33,60,.70);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: ;
}
nav>a{
    color: #e2512d;
    text-decoration: none;
    padding: 1rem, 2rem;
    font-weight: 900;
    display: inline-block;
}
nav>a:hover{
    color: #a33b20;
    text-decoration: underline;
}
.animal-background{
    position: fixed;
    top: -12rem;
    width: 200%;
    left:-51%;
    height: 50rem;
    z-index: -1;
    background-image: url(animal.jpg);
    background-size: cover;
}
section>h2{
    text-align: center;
    padding: 13rem 0;
    text-shadow: 2px 2px 2px #27213C;
    background-size: cover;
    margin: 0;
}
section{
    background-color: #a33b20;
}
.animals{
    background-color: transparent;
}
.sloth>h2{
    background-image: url(sloth.jpg);
}
